@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="text"], input[type="email"], input[type="tel"], textarea { -webkit-appearance: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
*:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

@font-face { font-family: helveticaneuecyr-light; src: url("../fonts/helveticaneuecyr-light.eot"); src: url("../fonts/helveticaneuecyr-light.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneuecyr-light.woff2") format("woff2"), url("../fonts/helveticaneuecyr-light.woff") format("woff"), url("../fonts/helveticaneuecyr-light.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: helveticaneuecyr-ultralight; src: url("../fonts/helveticaneuecyr-ultralight.eot"); src: url("../fonts/helveticaneuecyr-ultralight.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneuecyr-ultralight.woff2") format("woff2"), url("../fonts/helveticaneuecyr-ultralight.woff") format("woff"), url("../fonts/helveticaneuecyr-ultralight.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: helveticaneuecyr-roman; src: url("../fonts/helveticaneuecyr-roman.eot"); src: url("../fonts/helveticaneuecyr-roman.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneuecyr-roman.woff2") format("woff2"), url("../fonts/helveticaneuecyr-roman.woff") format("woff"), url("../fonts/helveticaneuecyr-roman.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: helveticaneuecyr-medium; src: url("../fonts/helveticaneuecyr-medium.eot"); src: url("../fonts/helveticaneuecyr-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneuecyr-medium.woff2") format("woff2"), url("../fonts/helveticaneuecyr-medium.woff") format("woff"), url("../fonts/helveticaneuecyr-medium.ttf") format("truetype"); font-weight: normal; font-style: normal; }
html { font-size: 62.5%; }
@media only screen and (max-width: 1200px) { html { font-size: 55%; } }
@media only screen and (max-width: 1024px) { html { font-size: 50%; } }

body { font-size: 2.1rem; line-height: 1.4; font-family: "helveticaneuecyr-light", Arial, sans-serif; min-width: 320px; }

a { text-decoration: none; }

.out { overflow: hidden; }

.header { position: fixed; left: 0; right: 0; top: 0; z-index: 10; height: 30px; background: #f3f3f3; }

.btn-menu { position: relative; height: 30px; display: block; width: 30px; background: none; }
.btn-menu i { position: absolute; left: 50%; top: 50%; margin: -1px 0 0 -6px; width: 13px; height: 2px; background: #656a6b; }
.btn-menu i:before, .btn-menu i:after { content: ""; position: absolute; left: 0; right: 0; height: 2px; background: #656a6b; }
.btn-menu i:before { top: -4px; }
.btn-menu i:after { bottom: -4px; }

.link-download { display: inline-block; height: 30px; line-height: 30px; color: #3e3e3e; font-size: 1.3rem; font-family: "helveticaneuecyr-roman", Arial, sans-serif; text-transform: uppercase; }
.link-download i { margin-right: 1.2rem; background: url("../img/svg/download.svg") no-repeat 0 0; -moz-background-size: 11px 10px; -o-background-size: 11px 10px; -webkit-background-size: 11px 10px; background-size: 11px 10px; width: 11px; height: 10px; display: inline-block; }

.title { font-size: 4rem; font-family: "helveticaneuecyr-ultralight", Arial, sans-serif; color: #464c4d; text-transform: uppercase; }

.section { position: relative; background-color: white; background-image: -moz-linear-gradient(#f0f0f0, #ffffff 30%); background-image: -webkit-linear-gradient(#f0f0f0, #ffffff 30%); background-image: linear-gradient(#f0f0f0, #ffffff 30%); min-height: 100vh; padding: 40px 0; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; }
.section_index { padding-top: 6.7rem; }
.section_vertical { text-align: center; font-size: 0; }
.section_vertical:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.section_vertical .title { margin-bottom: 4.5rem; }
.section_fb { background: #37548e; background-image: -moz-linear-gradient(#283c67, #37548e); background-image: -webkit-linear-gradient(#283c67, #37548e); background-image: linear-gradient(#283c67, #37548e); }
.section_vk { background: #37548e; background-image: -moz-linear-gradient(#43678f, #4a719e); background-image: -webkit-linear-gradient(#43678f, #4a719e); background-image: linear-gradient(#43678f, #4a719e); }
.section_default { padding: 10.5rem 0 0; }
@media only screen and (max-width: 767px) { .section_default { padding-top: 3rem; } }
.section_default .title { margin-bottom: 4.5rem; }
@media only screen and (max-width: 767px) { .section_default .title { margin-bottom: 2rem; } }
.section_add { position: relative; padding-bottom: 100px; }
.section__vertical { display: inline-block; vertical-align: middle; width: 100%; text-align: left; }

.contact { display: inline-block; text-align: left; line-height: 1; }
@media only screen and (max-width: 767px) { .contact { line-height: 1.4; } }
.contact a { color: #d41f36; }
.contact a:hover { color: #be1c30; }
.contact a[href^="skype:"] { color: #474d4e; text-decoration: underline; }
.contact__tel { font-size: 2.9rem; font-family: "helveticaneuecyr-medium", Arial, sans-serif; }
@media only screen and (max-width: 767px) { .contact__tel { font-size: 2rem; } }
.contact__text { font-size: 13px; color: #474d4e; }
.contact__text span { display: block; font-size: 11px; }

.logo { font: 0/0 a; text-shadow: none; color: transparent; width: 175px; }
@media only screen and (max-width: 767px) { .logo { width: 120px; } }
.logo img { width: 100%; height: auto; }

.title-h1 { margin-top: 20rem; font-size: 6.4rem; color: black; text-align: center; letter-spacing: 0.4px; font-family: "helveticaneuecyr-ultralight", Arial, sans-serif; }
@media only screen and (max-width: 1024px) { .title-h1 { font-size: 5rem; } }
@media only screen and (max-width: 768px) { .title-h1 { font-size: 4rem; margin-top: 5rem; } }

.banner { position: relative; display: block; margin-bottom: 33px; }
@media only screen and (max-width: 767px) { .banner { width: 100%; margin: 0 0 21%; overflow: hidden; } }
.banner img { display: block; width: 100%; height: auto; }
.banner.is-inactive { cursor: default; pointer-events: none; }
.banner.pull-left { width: 45%; height: auto; margin: 0 0 2%; }
.banner.pull-left:first-child { width: 47%; margin-right: 8%; }

@media only screen and (max-width: 767px) { .banner_big { width: auto; display: inline-block; margin-bottom: 20px; } }

.icon-badge { position: absolute; left: -2px; top: -2px; background: url('../img/icons-s58f5431ca4.png') 0 -56px no-repeat; width: 46px; height: 46px; }

.btn { display: inline-block; position: relative; padding: 1.7rem 4rem 1.6rem; min-width: 27.3rem; text-align: center; background: #df213d; color: white; text-transform: uppercase; font-size: 1.7rem; line-height: 1; }
@media only screen and (max-width: 1200px) { .btn { padding-left: 2rem; padding-right: 2rem; } }
.btn:hover { background: #d41f36; }
.btn:after { content: ""; position: absolute; top: 50%; right: 25px; margin-top: -9px; background: url("../img/svg/arr-r.svg") no-repeat 0 0; -moz-background-size: 11px 19px; -o-background-size: 11px 19px; -webkit-background-size: 11px 19px; background-size: 11px 19px; width: 11px; height: 19px; display: inline-block; }

.btn_mt { margin-top: 3rem; }

.btn_big { padding: 1.7rem 6rem 1.6rem 4rem; }

.btn_width { min-width: 100%; }

.btn_action { padding: 1.8rem 1rem 1.7rem; background: #afb0bf; font-size: 1.5rem; }
.btn_action:hover { background: #a1a2b4; }

.btn_file { min-width: 100%; }
.btn_file:before { content: ""; position: absolute; left: 25px; top: 50%; margin-top: -12px; background: url('../img/icons-s58f5431ca4.png') 0 0 no-repeat; background-position: 0 0; width: 21.5px; height: 23px; -moz-background-size: 25px 271px; -webkit-background-size: 25px 271px; background-size: 25px 271px; }
.btn_file:after { display: none; }

.btn_present { margin-top: 11.2rem; }
@media only screen and (max-width: 767px) { .btn_present { display: none; } }

.btn-down { position: absolute; left: 50%; bottom: 0; margin-left: -39px; background: url("../img/svg/down.svg") no-repeat 0 0; -moz-background-size: 78px 39px; -o-background-size: 78px 39px; -webkit-background-size: 78px 39px; background-size: 78px 39px; width: 78px; height: 39px; display: inline-block; }

.captcha { *zoom: 1; }
.captcha:after { content: " "; display: table; clear: both; }
.captcha__code { float: left; padding-right: 5px; width: 130px; cursor: pointer; }
.captcha__code img { max-width: 100%; max-height: 100%; }
.captcha__input { overflow: hidden; }

.slider { margin: 0 0 4rem; }
@media only screen and (max-width: 767px) { .slider { margin: 5rem 0; } }
.slider .slider__item.no-shadow img { box-shadow: none; }
.slider .slick-dots { bottom: 15px; }
@media only screen and (max-width: 767px) { .slider .slick-dots { bottom: -15px; } }
.slider .slick-slider { opacity: 0; visibility: hidden; -moz-transition: opacity 0.3s; -o-transition: opacity 0.3s; -webkit-transition: opacity 0.3s; transition: opacity 0.3s; }
.slider .slick-slider.is-ready { visibility: visible; opacity: 1; }
.slider img { margin: 0 auto; }
@media only screen and (max-height: 950px) { .slider img { height: 300px; } }
@media only screen and (max-width: 767px) { .slider img { height: auto; } }
@media only screen and (max-width: 1024px) { .slider img { box-shadow: none; } }
.slider_add { margin: 0; }
@media only screen and (max-width: 1024px) { .slider_add { margin: 0 0 4rem; } }
@media only screen and (max-width: 767px) { .slider_add { display: none; } }
.slider_add .slick-slider { margin-bottom: 4rem; }
.slider_add .slider__item { padding: 0; }
.slider_add img { box-shadow: none; }
.slider_add .slick-dots { bottom: -25px; }
.slider_add .slick-dots button { background: #2c7e28; }
.slider_small { margin: -30px; }
@media only screen and (max-width: 1024px) { .slider_small { margin-top: -30px; } }
@media only screen and (max-height: 950px) { .slider_small .slider__item img { height: auto; } }
.slider_small .btn-prev { margin-left: 8px; margin-top: -23px; }
@media only screen and (max-width: 767px) { .slider_small .btn-prev { margin-top: -12px; } }
.slider_small .btn-next { margin-right: 8px; margin-top: -23px; }
@media only screen and (max-width: 767px) { .slider_small .btn-next { margin-top: -12px; } }
.slider_small .slick-dots { bottom: 11px; }
.slider_small .slick-dots button { background: #6dcff6; }
@media only screen and (max-width: 767px) { .slider_small .slick-dots { bottom: 0; } }
.slider_vk .btn-prev { margin-left: 13px; margin-top: -13px; }
.slider_vk .btn-next { margin-right: 13px; margin-top: -13px; }
.slider_vk .slick-dots { bottom: 0; }

.btn-prev { float: left; margin: -32px 0 0 -15px; background: url('../img/icons-s58f5431ca4.png') 0 -498px no-repeat; width: 22px; height: 17px; }
@media only screen and (max-width: 767px) { .btn-prev { margin-top: 0; } }
.btn-prev_green { background-position: 0 -444px; }
.btn-prev_blue { background-position: 0 -375px; }
.btn-prev_black { margin: 8px 0 0 0; background-position: 0 -350px; }

.btn-next { float: right; margin: -32px -15px 0 0; background: url('../img/icons-s58f5431ca4.png') 0 -323px no-repeat; width: 22px; height: 17px; }
@media only screen and (max-width: 767px) { .btn-next { margin-top: 0; } }
.btn-next_green { background-position: 0 -269px; }
.btn-next_blue { background-position: 0 -200px; }
.btn-next_black { margin: 8px 0 0 0; background-position: 0 -175px; }

.stat { color: #00a7df; font-family: "helveticaneuecyr-ultralight", Arial, sans-serif; letter-spacing: 0.6px; font-size: 2.8rem; }
@media only screen and (max-width: 767px) { .stat { margin: 60px 0; text-align: center; } }
.stat span { display: block; font-size: 9.8rem; line-height: 1; letter-spacing: 0; }
.stat span sub { font-size: 3rem; }

.info { text-align: center; }
.info img { vertical-align: middle; margin-right: 4rem; }
@media only screen and (max-width: 767px) { .info img { display: inline-block; margin-right: 2rem; } }
.info img:first-child { width: 160px; }
.info p { margin: 2.7rem 0; text-align: left; }

.add-info { font-size: 2.8rem; color: #909090; font-family: "helveticaneuecyr-ultralight", Arial, sans-serif; line-height: 1.2; }
@media only screen and (max-width: 1024px) { .add-info { margin-bottom: 4rem; } }
@media only screen and (max-width: 767px) { .add-info { display: none; } }
.add-info .title { margin-bottom: 2.2rem; color: #189947; font-size: 4.4rem; letter-spacing: 0.5px; }

.container_add { padding-top: 8.5rem; }
@media only screen and (max-width: 950px) { .container_add { padding-top: 0; } }

.benefit { font-size: 1.6rem; font-family: "helveticaneuecyr-light", Arial, sans-serif; margin: 7.5rem auto 3rem; width: 70%; }
@media only screen and (max-width: 950px) { .benefit { margin-top: 2.5rem; } }
@media only screen and (max-width: 767px) { .benefit { margin: 2rem auto 9rem; } }
.benefit img { margin-bottom: 20px; }
@media only screen and (max-width: 767px) { .benefit img { margin-bottom: 30px; } }
.benefit_big { margin: 16rem auto 11rem; }

.btn-wrap { position: absolute; left: 0; right: 0; bottom: 26px; text-align: center; }

.soc-info { padding: 18px 0 0; color: white; font-size: 2.1rem; }
@media only screen and (max-width: 768px) { .soc-info { margin: 4rem 0; } }
.soc-info img { margin-bottom: 3.5rem; }
@media only screen and (max-width: 767px) { .soc-info img { width: 45%; margin-bottom: 0; } }
.soc-info p { margin: 2rem 0 4; }
@media only screen and (max-width: 767px) { .soc-info p { margin: 1rem 0; } }

.field { display: block; margin-bottom: 30px; }
@media only screen and (max-width: 767px) { .field { margin-bottom: 15px; } }
.field__title { display: block; margin-bottom: 10px; font-size: 1.6rem; min-height: 22px; color: #9496a9; font-family: "helveticaneuecyr-roman", Arial, sans-serif; overflow: hidden; -ms-text-overflow: ellipsis; text-overflow: ellipsis; white-space: nowrap; }
.field__title sup { color: #d41f36; }
.field__body { position: relative; display: block; }

.input { display: block; border-top: 1px solid #a6a9be; border-bottom: 1px solid #a6a9be; padding: 0 10px; height: 4.4rem; width: 100%; font-size: 1.7rem; font-family: "helveticaneuecyr-roman", Arial, sans-serif; color: #444a4b; background: none; border-radius: 0; }
.input:-ms-input-placeholder { color: #9496a9; }
.input:-moz-placeholder { color: #9496a9; }
.input::-moz-placeholder { color: #9496a9; }
.input::-webkit-input-placeholder { color: #9496a9; }
.input::placeholder { color: #9496a9; }
.input:focus, .input.has-value { box-shadow: inset 1px 0 #a6a9be, inset -1px 0 #a6a9be; }
.input_textarea { padding-top: 10px; border-left: 0; border-right: 0; resize: vertical; }
.input::-webkit-inner-spin-button { height: 100%; }

.file input { position: absolute; opacity: 0; }

@media only screen and (max-width: 767px) { .captcha-row > div { margin-bottom: 40px; } }

.date { display: block; position: relative; }
.date:before { content: ""; position: absolute; top: 50%; left: 10px; margin-top: -10px; background: url("../img/svg/calendar.svg") no-repeat 0 0; -moz-background-size: 19px 21px; -o-background-size: 19px 21px; -webkit-background-size: 19px 21px; background-size: 19px 21px; width: 19px; height: 21px; display: inline-block; }
.date .input { padding-left: 40px; }

.interest { *zoom: 1; margin-left: -15px; }
.interest:after { content: " "; display: table; clear: both; }
@media only screen and (max-width: 1023px) { .interest { margin: 0 0 20px 0; } }
.interest__title { font-size: 1.6rem; margin: 0 0 15px 8px; color: #9496a9; font-family: "helveticaneuecyr-roman", Arial, sans-serif; }
@media only screen and (max-width: 1023px) { .interest__title { margin-left: 0; } }
.interest .banner { width: 130px; margin: 0 0 8px 8px; float: left; height: 106px; cursor: pointer; }
@media only screen and (max-width: 1023px) { .interest .banner { margin: 0 8px 8px 0; } }
@media only screen and (max-width: 1200px) { .interest .banner { height: auto; width: 105px; } }
@media only screen and (max-width: 767px) { .interest .banner { width: 31.3%; margin: 0 2% 2% 0; } }
.interest .banner img { opacity: 0.5; }
.interest .banner input { position: absolute; opacity: 0; }
.interest .banner input:checked + img { opacity: 1; box-shadow: 0 0 0 1px #d41f36; }
.interest .banner .icon-badge { top: -1px; left: -1px; }

@media only screen and (max-width: 767px) { .present .slick-slide > div > div { width: 50% !important; } }
@media only screen and (max-width: 767px) { .present .banner { width: 100%; margin-bottom: 5%; } }
.present .slick-dots { bottom: -23px; }
.present .slick-dots button { background: #727777; }

.post { font-family: "helveticaneuecyr-roman", Arial, sans-serif; font-size: 1.3rem; }
@media only screen and (max-width: 767px) { .post { margin-bottom: 30px; } }
.post__title { display: inline-block; margin-bottom: 10px; font-size: 1.5rem; color: #428bca; line-height: 1.2; }
.post__title:hover { color: #3071a9; }
.post__img { display: block; margin-bottom: 10px; }
.post__img img { display: block; width: 100%; height: auto; }
.post__text { margin-bottom: 35px; color: #8f8283; }
.post__text a { color: #428bca; }
.post__text a:hover { color: #3071a9; }
.post__more { color: #428bca; text-decoration: underline; }
.post__more:hover { color: #3071a9; text-decoration: none; }

.widget > div { width: 100%; }

.map { height: 100vh; }
@media only screen and (max-width: 767px) { .map { height: 50vh; } }

.address { width: 73%; font-family: "helveticaneuecyr-ultralight", Arial, sans-serif; font-size: 1.9rem; color: white; letter-spacing: 0.5px; font-style: normal; }

.map-contact { padding: 3.2rem 0; background: #464c4d; }
@media only screen and (max-width: 767px) { .map-contact { margin-bottom: -40px; } }
.map-contact .title { color: white; }
.map-contact .contact { color: white; line-height: 1.2; }
@media only screen and (max-width: 767px) { .map-contact .contact { margin: 10px 0; } }
.map-contact .contact a { color: white; }
.map-contact .contact__tel { font-size: 3.5rem; }
.map-contact .contact__text { color: white; font-size: 16px; }
.map-contact .contact__text span { font-size: 13px; }
@media only screen and (max-width: 767px) { .map-contact .text-right { text-align: left; } }

.footer { position: absolute; bottom: 0; right: 0; left: 0; background: white; }
@media only screen and (max-width: 767px) { .footer { position: static; } }
.footer__main { *zoom: 1; height: 36px; line-height: 36px; }
.footer__main:after { content: " "; display: table; clear: both; }
@media only screen and (max-width: 767px) { .footer__main { display: none; } }
@media only screen and (max-width: 767px) { .footer__main .text-right { text-align: left; } }
.footer .logo { margin-right: 25px; width: 55px; display: inline-block; vertical-align: middle; height: 36px; line-height: 36px; }
.footer .logo img { vertical-align: middle; }
.footer__nav { *zoom: 1; display: inline-block; vertical-align: middle; }
.footer__nav:after { content: " "; display: table; clear: both; }
.footer__nav a { color: #a6a3bb; float: left; margin-right: 25px; position: relative; font-size: 1.3rem; }
.footer__nav a:before { content: "|"; position: absolute; left: -18px; top: 0; }
.footer__nav a:first-child:before { display: none; }

.soc { *zoom: 1; display: inline-block; }
.soc:after { content: " "; display: table; clear: both; }
.soc a { float: left; height: 36px; width: 32px; line-height: 36px; text-align: center; }
.soc a i { display: inline-block; vertical-align: middle; }

.icon-fb { background: url("../img/svg/soc-fb.svg") no-repeat 0 0; -moz-background-size: 8px 17px; -o-background-size: 8px 17px; -webkit-background-size: 8px 17px; background-size: 8px 17px; width: 8px; height: 17px; display: inline-block; }

.icon-vk { background: url("../img/svg/soc-vk.svg") no-repeat 0 0; -moz-background-size: 17px 10px; -o-background-size: 17px 10px; -webkit-background-size: 17px 10px; background-size: 17px 10px; width: 17px; height: 10px; display: inline-block; }

.text-left { text-align: left; }

.text-right { text-align: right; }

.text-center { text-align: center; }

.text-justify { text-align: justify; }

.text-nowrap { white-space: nowrap; }

.text-lowercase { text-transform: lowercase; }

.text-uppercase { text-transform: uppercase; }

.text-capitalize { text-transform: capitalize; }

.container { padding-right: 15px; padding-left: 15px; margin-right: auto; margin-left: auto; }

@media (min-width: 480px) { .container { max-width: 480px; } }
@media (min-width: 560px) { .container { max-width: 560px; } }
@media (min-width: 640px) { .container { max-width: 640px; } }
@media (min-width: 768px) { .container { width: 750px; max-width: 750px; } }
@media (min-width: 992px) { .container { width: 970px; max-width: 992px; } }
@media (min-width: 1200px) { .container { width: 1170px; max-width: 1170px; } }
.container-fluid { padding-right: 15px; padding-left: 15px; margin-right: auto; margin-left: auto; }

.row { margin-right: -15px; margin-left: -15px; *zoom: 1; }
.row:after { content: " "; display: table; clear: both; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 { position: relative; min-height: 1px; padding-right: 15px; padding-left: 15px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 { float: left; *zoom: 1; }
.col-xs-1:after, .col-xs-2:after, .col-xs-3:after, .col-xs-4:after, .col-xs-5:after, .col-xs-6:after, .col-xs-7:after, .col-xs-8:after, .col-xs-9:after, .col-xs-10:after, .col-xs-11:after, .col-xs-12:after { content: " "; display: table; clear: both; }

.col-xs-12 { width: 100%; }

.col-xs-11 { width: 91.66667%; }

.col-xs-10 { width: 83.33333%; }

.col-xs-9 { width: 75%; }

.col-xs-8 { width: 66.66667%; }

.col-xs-7 { width: 58.33333%; }

.col-xs-6 { width: 50%; }

.col-xs-5 { width: 41.66667%; }

.col-xs-4 { width: 33.33333%; }

.col-xs-3 { width: 25%; }

.col-xs-2 { width: 16.66667%; }

.col-xs-1 { width: 8.33333%; }

.col-xs-pull-12 { right: 100%; }

.col-xs-pull-11 { right: 91.66667%; }

.col-xs-pull-10 { right: 83.33333%; }

.col-xs-pull-9 { right: 75%; }

.col-xs-pull-8 { right: 66.66667%; }

.col-xs-pull-7 { right: 58.33333%; }

.col-xs-pull-6 { right: 50%; }

.col-xs-pull-5 { right: 41.66667%; }

.col-xs-pull-4 { right: 33.33333%; }

.col-xs-pull-3 { right: 25%; }

.col-xs-pull-2 { right: 16.66667%; }

.col-xs-pull-1 { right: 8.33333%; }

.col-xs-pull-0 { right: auto; }

.col-xs-push-12 { left: 100%; }

.col-xs-push-11 { left: 91.66667%; }

.col-xs-push-10 { left: 83.33333%; }

.col-xs-push-9 { left: 75%; }

.col-xs-push-8 { left: 66.66667%; }

.col-xs-push-7 { left: 58.33333%; }

.col-xs-push-6 { left: 50%; }

.col-xs-push-5 { left: 41.66667%; }

.col-xs-push-4 { left: 33.33333%; }

.col-xs-push-3 { left: 25%; }

.col-xs-push-2 { left: 16.66667%; }

.col-xs-push-1 { left: 8.33333%; }

.col-xs-push-0 { left: auto; }

.col-xs-offset-12 { margin-left: 100%; }

.col-xs-offset-11 { margin-left: 91.66667%; }

.col-xs-offset-10 { margin-left: 83.33333%; }

.col-xs-offset-9 { margin-left: 75%; }

.col-xs-offset-8 { margin-left: 66.66667%; }

.col-xs-offset-7 { margin-left: 58.33333%; }

.col-xs-offset-6 { margin-left: 50%; }

.col-xs-offset-5 { margin-left: 41.66667%; }

.col-xs-offset-4 { margin-left: 33.33333%; }

.col-xs-offset-3 { margin-left: 25%; }

.col-xs-offset-2 { margin-left: 16.66667%; }

.col-xs-offset-1 { margin-left: 8.33333%; }

.col-xs-offset-0 { margin-left: 0; }

@media (min-width: 768px) { .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 { float: left; }
  .col-sm-12 { width: 100%; }
  .col-sm-11 { width: 91.66667%; }
  .col-sm-10 { width: 83.33333%; }
  .col-sm-9 { width: 75%; }
  .col-sm-8 { width: 66.66667%; }
  .col-sm-7 { width: 58.33333%; }
  .col-sm-6 { width: 50%; }
  .col-sm-5 { width: 41.66667%; }
  .col-sm-4 { width: 33.33333%; }
  .col-sm-3 { width: 25%; }
  .col-sm-2 { width: 16.66667%; }
  .col-sm-1 { width: 8.33333%; }
  .col-sm-pull-12 { right: 100%; }
  .col-sm-pull-11 { right: 91.66667%; }
  .col-sm-pull-10 { right: 83.33333%; }
  .col-sm-pull-9 { right: 75%; }
  .col-sm-pull-8 { right: 66.66667%; }
  .col-sm-pull-7 { right: 58.33333%; }
  .col-sm-pull-6 { right: 50%; }
  .col-sm-pull-5 { right: 41.66667%; }
  .col-sm-pull-4 { right: 33.33333%; }
  .col-sm-pull-3 { right: 25%; }
  .col-sm-pull-2 { right: 16.66667%; }
  .col-sm-pull-1 { right: 8.33333%; }
  .col-sm-pull-0 { right: auto; }
  .col-sm-push-12 { left: 100%; }
  .col-sm-push-11 { left: 91.66667%; }
  .col-sm-push-10 { left: 83.33333%; }
  .col-sm-push-9 { left: 75%; }
  .col-sm-push-8 { left: 66.66667%; }
  .col-sm-push-7 { left: 58.33333%; }
  .col-sm-push-6 { left: 50%; }
  .col-sm-push-5 { left: 41.66667%; }
  .col-sm-push-4 { left: 33.33333%; }
  .col-sm-push-3 { left: 25%; }
  .col-sm-push-2 { left: 16.66667%; }
  .col-sm-push-1 { left: 8.33333%; }
  .col-sm-push-0 { left: auto; }
  .col-sm-offset-12 { margin-left: 100%; }
  .col-sm-offset-11 { margin-left: 91.66667%; }
  .col-sm-offset-10 { margin-left: 83.33333%; }
  .col-sm-offset-9 { margin-left: 75%; }
  .col-sm-offset-8 { margin-left: 66.66667%; }
  .col-sm-offset-7 { margin-left: 58.33333%; }
  .col-sm-offset-6 { margin-left: 50%; }
  .col-sm-offset-5 { margin-left: 41.66667%; }
  .col-sm-offset-4 { margin-left: 33.33333%; }
  .col-sm-offset-3 { margin-left: 25%; }
  .col-sm-offset-2 { margin-left: 16.66667%; }
  .col-sm-offset-1 { margin-left: 8.33333%; }
  .col-sm-offset-0 { margin-left: 0; } }
@media (min-width: 1023px) { .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 { float: left; }
  .col-md-12 { width: 100%; }
  .col-md-11 { width: 91.66667%; }
  .col-md-10 { width: 83.33333%; }
  .col-md-9 { width: 75%; }
  .col-md-8 { width: 66.66667%; }
  .col-md-7 { width: 58.33333%; }
  .col-md-6 { width: 50%; }
  .col-md-5 { width: 41.66667%; }
  .col-md-4 { width: 33.33333%; }
  .col-md-3 { width: 25%; }
  .col-md-2 { width: 16.66667%; }
  .col-md-1 { width: 8.33333%; }
  .col-md-pull-12 { right: 100%; }
  .col-md-pull-11 { right: 91.66667%; }
  .col-md-pull-10 { right: 83.33333%; }
  .col-md-pull-9 { right: 75%; }
  .col-md-pull-8 { right: 66.66667%; }
  .col-md-pull-7 { right: 58.33333%; }
  .col-md-pull-6 { right: 50%; }
  .col-md-pull-5 { right: 41.66667%; }
  .col-md-pull-4 { right: 33.33333%; }
  .col-md-pull-3 { right: 25%; }
  .col-md-pull-2 { right: 16.66667%; }
  .col-md-pull-1 { right: 8.33333%; }
  .col-md-pull-0 { right: auto; }
  .col-md-push-12 { left: 100%; }
  .col-md-push-11 { left: 91.66667%; }
  .col-md-push-10 { left: 83.33333%; }
  .col-md-push-9 { left: 75%; }
  .col-md-push-8 { left: 66.66667%; }
  .col-md-push-7 { left: 58.33333%; }
  .col-md-push-6 { left: 50%; }
  .col-md-push-5 { left: 41.66667%; }
  .col-md-push-4 { left: 33.33333%; }
  .col-md-push-3 { left: 25%; }
  .col-md-push-2 { left: 16.66667%; }
  .col-md-push-1 { left: 8.33333%; }
  .col-md-push-0 { left: auto; }
  .col-md-offset-12 { margin-left: 100%; }
  .col-md-offset-11 { margin-left: 91.66667%; }
  .col-md-offset-10 { margin-left: 83.33333%; }
  .col-md-offset-9 { margin-left: 75%; }
  .col-md-offset-8 { margin-left: 66.66667%; }
  .col-md-offset-7 { margin-left: 58.33333%; }
  .col-md-offset-6 { margin-left: 50%; }
  .col-md-offset-5 { margin-left: 41.66667%; }
  .col-md-offset-4 { margin-left: 33.33333%; }
  .col-md-offset-3 { margin-left: 25%; }
  .col-md-offset-2 { margin-left: 16.66667%; }
  .col-md-offset-1 { margin-left: 8.33333%; }
  .col-md-offset-0 { margin-left: 0; } }
@media (min-width: 1200px) { .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 { float: left; }
  .col-lg-12 { width: 100%; }
  .col-lg-11 { width: 91.66667%; }
  .col-lg-10 { width: 83.33333%; }
  .col-lg-9 { width: 75%; }
  .col-lg-8 { width: 66.66667%; }
  .col-lg-7 { width: 58.33333%; }
  .col-lg-6 { width: 50%; }
  .col-lg-5 { width: 41.66667%; }
  .col-lg-4 { width: 33.33333%; }
  .col-lg-3 { width: 25%; }
  .col-lg-2 { width: 16.66667%; }
  .col-lg-1 { width: 8.33333%; }
  .col-lg-pull-12 { right: 100%; }
  .col-lg-pull-11 { right: 91.66667%; }
  .col-lg-pull-10 { right: 83.33333%; }
  .col-lg-pull-9 { right: 75%; }
  .col-lg-pull-8 { right: 66.66667%; }
  .col-lg-pull-7 { right: 58.33333%; }
  .col-lg-pull-6 { right: 50%; }
  .col-lg-pull-5 { right: 41.66667%; }
  .col-lg-pull-4 { right: 33.33333%; }
  .col-lg-pull-3 { right: 25%; }
  .col-lg-pull-2 { right: 16.66667%; }
  .col-lg-pull-1 { right: 8.33333%; }
  .col-lg-pull-0 { right: auto; }
  .col-lg-push-12 { left: 100%; }
  .col-lg-push-11 { left: 91.66667%; }
  .col-lg-push-10 { left: 83.33333%; }
  .col-lg-push-9 { left: 75%; }
  .col-lg-push-8 { left: 66.66667%; }
  .col-lg-push-7 { left: 58.33333%; }
  .col-lg-push-6 { left: 50%; }
  .col-lg-push-5 { left: 41.66667%; }
  .col-lg-push-4 { left: 33.33333%; }
  .col-lg-push-3 { left: 25%; }
  .col-lg-push-2 { left: 16.66667%; }
  .col-lg-push-1 { left: 8.33333%; }
  .col-lg-push-0 { left: auto; }
  .col-lg-offset-12 { margin-left: 100%; }
  .col-lg-offset-11 { margin-left: 91.66667%; }
  .col-lg-offset-10 { margin-left: 83.33333%; }
  .col-lg-offset-9 { margin-left: 75%; }
  .col-lg-offset-8 { margin-left: 66.66667%; }
  .col-lg-offset-7 { margin-left: 58.33333%; }
  .col-lg-offset-6 { margin-left: 50%; }
  .col-lg-offset-5 { margin-left: 41.66667%; }
  .col-lg-offset-4 { margin-left: 33.33333%; }
  .col-lg-offset-3 { margin-left: 25%; }
  .col-lg-offset-2 { margin-left: 16.66667%; }
  .col-lg-offset-1 { margin-left: 8.33333%; }
  .col-lg-offset-0 { margin-left: 0; } }
.pull-right { float: right !important; }

.pull-left { float: left !important; }

.hide { display: none !important; }

.show { display: block !important; }

.invisible { visibility: hidden; }

.text-hide { font: 0/0 a; color: transparent; text-shadow: none; background-color: transparent; border: 0; }

.hidden { display: none !important; visibility: hidden !important; }

.affix { position: fixed; }

@-ms-viewport { width: device-width; }
.visible-xs, .visible-sm, .visible-md, .visible-lg { display: none !important; }

.visible-xs-block, .visible-xs-inline, .visible-xs-inline-block, .visible-sm-block, .visible-sm-inline, .visible-sm-inline-block, .visible-md-block, .visible-md-inline, .visible-md-inline-block, .visible-lg-block, .visible-lg-inline, .visible-lg-inline-block { display: none !important; }

@media (max-width: 767px) { .visible-xs { display: block !important; }
  table.visible-xs { display: table; }
  tr.visible-xs { display: table-row !important; }
  th.visible-xs, td.visible-xs { display: table-cell !important; } }
@media (max-width: 767px) { .visible-xs-block { display: block !important; } }
@media (max-width: 767px) { .visible-xs-inline { display: inline !important; } }
@media (max-width: 767px) { .visible-xs-inline-block { display: inline-block !important; } }
@media (min-width: 768px) and (max-width: 991px) { .visible-sm { display: block !important; }
  table.visible-sm { display: table; }
  tr.visible-sm { display: table-row !important; }
  th.visible-sm, td.visible-sm { display: table-cell !important; } }
@media (min-width: 768px) and (max-width: 991px) { .visible-sm-block { display: block !important; } }
@media (min-width: 768px) and (max-width: 991px) { .visible-sm-inline { display: inline !important; } }
@media (min-width: 768px) and (max-width: 991px) { .visible-sm-inline-block { display: inline-block !important; } }
@media (min-width: 992px) and (max-width: 1199px) { .visible-md { display: block !important; }
  table.visible-md { display: table; }
  tr.visible-md { display: table-row !important; }
  th.visible-md, td.visible-md { display: table-cell !important; } }
@media (min-width: 992px) and (max-width: 1199px) { .visible-md-block { display: block !important; } }
@media (min-width: 992px) and (max-width: 1199px) { .visible-md-inline { display: inline !important; } }
@media (min-width: 992px) and (max-width: 1199px) { .visible-md-inline-block { display: inline-block !important; } }
@media (min-width: 1200px) { .visible-lg { display: block !important; }
  table.visible-lg { display: table; }
  tr.visible-lg { display: table-row !important; }
  th.visible-lg, td.visible-lg { display: table-cell !important; } }
@media (min-width: 1200px) { .visible-lg-block { display: block !important; } }
@media (min-width: 1200px) { .visible-lg-inline { display: inline !important; } }
@media (min-width: 1200px) { .visible-lg-inline-block { display: inline-block !important; } }
@media (max-width: 767px) { .hidden-xs { display: none !important; } }
@media (min-width: 768px) and (max-width: 991px) { .hidden-sm { display: none !important; } }
@media (min-width: 992px) and (max-width: 1199px) { .hidden-md { display: none !important; } }
@media (min-width: 1200px) { .hidden-lg { display: none !important; } }
.visible-print { display: none !important; }

@media print { .visible-print { display: block !important; }
  table.visible-print { display: table; }
  tr.visible-print { display: table-row !important; }
  th.visible-print, td.visible-print { display: table-cell !important; } }
.visible-print-block { display: none !important; }

@media print { .visible-print-block { display: block !important; } }
.visible-print-inline { display: none !important; }

@media print { .visible-print-inline { display: inline !important; } }
.visible-print-inline-block { display: none !important; }

@media print { .visible-print-inline-block { display: inline-block !important; } }
@media print { .hidden-print { display: none !important; } }
.slick-slider { position: relative; display: block; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -webkit-tap-highlight-color: transparent; }

.slick-list { position: relative; overflow: hidden; display: block; margin: 0; padding: 0; }
.slick-list:focus { outline: none; }
.slick-loading .slick-list { background: white slick-image-url("ajax-loader.gif") center center no-repeat; }
.slick-list.dragging { cursor: pointer; cursor: hand; }

.slick-slider .slick-list, .slick-track, .slick-slide, .slick-slide img { -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.slick-track { position: relative; left: 0; top: 0; display: block; zoom: 1; }
.slick-track:before, .slick-track:after { content: ""; display: table; }
.slick-track:after { clear: both; }
.slick-loading .slick-track { visibility: hidden; }

.slick-slide { float: left; height: 100%; min-height: 1px; display: none; }
.slick-slide img { display: block; max-width: 100%; }
.slick-slide.slick-loading img { display: none; }
.slick-slide.dragging img { pointer-events: none; }
.slick-initialized .slick-slide { display: block; }
.slick-loading .slick-slide { visibility: hidden; }
.slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent; }

.slick-prev, .slick-next { position: absolute; top: 50%; margin-top: -14px; font: 0/0 a; text-shadow: none; color: transparent; height: 50px; background: none; }
.slick-prev:focus, .slick-next:focus { outline: none; }
.slick-prev.slick-disabled, .slick-next.slick-disabled { opacity: 0.2; }
.slick-prev:before, .slick-next:before { height: 50px; line-height: 50px; }

.slick-prev { left: 0; }
.slick-prev:before { content: "←"; display: inline-block; vertical-align: middle; font-size: 61px; color: white; }

.slick-next { right: 0; }
.slick-next:before { content: "→"; display: inline-block; vertical-align: middle; font-size: 61px; color: white; }

.slick-dots { text-align: center; position: absolute; margin: 0; bottom: 0; left: 0; right: 0; }
.slick-dots li { position: relative; display: inline-block; padding: 0 1px; }
.slick-dots li.slick-active button { height: 5px; }
.slick-dots button { display: block; width: 7px; height: 1px; background: #40bdec; font: 0/0 a; text-shadow: none; color: transparent; }

.title-h2 { margin-top: 5rem; font-size: 3.6rem; color: white; text-align: center; }

.btn_market { background-color: transparent; text-decoration: underline; font-size: 2.6rem; }
.btn_market:after { display: none; }
.btn_market:hover { background-color: transparent; color: #e6e6e6; }

.ui-helper-hidden { display: none; }

.ui-helper-hidden-accessible { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }

.ui-helper-clearfix:before, .ui-helper-clearfix:after { content: ""; display: table; border-collapse: collapse; }

.ui-helper-clearfix:after { clear: both; }

.ui-helper-clearfix { min-height: 0; }

.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter: Alpha(Opacity=0); }

.ui-front { z-index: 100; }

.ui-state-disabled { cursor: default !important; }

.ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }

.ui-widget-overlay { position: fixed; top: 0; left: 0; width: 100%; height: 100%; }

.ui-datepicker { width: 193px; padding: 0 5px; display: none; background: white; font-family: "helveticaneuecyr-roman", Arial, sans-serif; border: 1px solid #a6a9be; }

.ui-datepicker .ui-datepicker-header { position: relative; margin: 0 -5px; padding: 6px; background: #a6a9be; height: 29px; }
.ui-datepicker .ui-datepicker-header:before { display: none; }

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next { position: absolute; top: 50%; cursor: pointer; margin-top: -8px; }

.ui-datepicker-prev { background: url('../img/icons-s58f5431ca4.png') 0 -471px no-repeat; width: 17px; height: 17px; left: 6px; }

.ui-datepicker-next { background: url('../img/icons-s58f5431ca4.png') 0 -296px no-repeat; width: 17px; height: 17px; right: 6px; }

.ui-datepicker .ui-datepicker-title { text-align: center; position: relative; }
.ui-datepicker .ui-datepicker-title:before, .ui-datepicker .ui-datepicker-title:after { content: ""; position: absolute; top: 0; pointer-events: none; background: url('../img/icons-s58f5431ca4.png') 0 -525px no-repeat; width: 15px; height: 17px; }
.ui-datepicker .ui-datepicker-title:before { left: 71px; }
.ui-datepicker .ui-datepicker-title:after { right: 27px; }

.ui-datepicker .ui-datepicker-title select { font-size: 11px; border: 0; display: inline-block; vertical-align: top; color: #a6a9be; font-family: "helveticaneuecyr-light", Arial, sans-serif; }

.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year { width: 60px; height: 17px; }

.ui-datepicker table { width: 100%; font-size: 11px; border-collapse: collapse; margin: 0 0 0.4em; }

.ui-datepicker select.ui-datepicker-month { margin-right: 6px; }

.ui-datepicker th { padding: 0.7em 0.3em; text-align: center; font-weight: bold; border: 0; text-transform: uppercase; font-weight: normal; }

.ui-datepicker td { border: 0; padding: 1px; }

.ui-datepicker td span, .ui-datepicker td a { display: block; padding: 2px; text-align: right; color: #555555; text-decoration: none; border: 1px solid #a6a9be; width: 24px; height: 18px; line-height: 16px; }

.ui-datepicker .ui-datepicker-today a, .ui-datepicker .ui-datepicker-today span { background: #a6a9be; color: white; }
.ui-datepicker .ui-datepicker-current-day a, .ui-datepicker .ui-datepicker-current-day span { -webkit-box-shadow: inset 0 0 0 1px #a6a9be; box-shadow: inset 0 0 0 1px #a6a9be; color: #a6a9be; }
.ui-datepicker .ui-datepicker-unselectable a, .ui-datepicker .ui-datepicker-unselectable span { opacity: 0.3; }

.ui-datepicker .ui-datepicker-buttonpane { background-image: none; margin: 0.7em 0 0 0; padding: 0 0.2em; border-left: 0; border-right: 0; border-bottom: 0; }

.ui-datepicker .ui-datepicker-buttonpane button { float: right; margin: 0.5em 0.2em 0.4em; cursor: pointer; padding: 0.2em 0.6em 0.3em 0.6em; width: auto; overflow: visible; }

.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current { float: left; }

.ui-datepicker.ui-datepicker-multi { width: auto; }

.ui-datepicker-multi .ui-datepicker-group { float: left; }

.ui-datepicker-multi .ui-datepicker-group table { width: 95%; margin: 0 auto 0.4em; }

.ui-datepicker-multi-2 .ui-datepicker-group { width: 50%; }

.ui-datepicker-multi-3 .ui-datepicker-group { width: 33.3%; }

.ui-datepicker-multi-4 .ui-datepicker-group { width: 25%; }

.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header, .ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header { border-left-width: 0; }

.ui-datepicker-multi .ui-datepicker-buttonpane { clear: left; }

.ui-datepicker-row-break { clear: both; width: 100%; font-size: 0; }

.ui-datepicker-rtl { direction: rtl; }

.ui-datepicker-rtl .ui-datepicker-prev { right: 2px; left: auto; }

.ui-datepicker-rtl .ui-datepicker-next { left: 2px; right: auto; }

.ui-datepicker-rtl .ui-datepicker-prev:hover { right: 1px; left: auto; }

.ui-datepicker-rtl .ui-datepicker-next:hover { left: 1px; right: auto; }

.ui-datepicker-rtl .ui-datepicker-buttonpane { clear: right; }

.ui-datepicker-rtl .ui-datepicker-buttonpane button { float: left; }

.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current, .ui-datepicker-rtl .ui-datepicker-group { float: right; }

.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header, .ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header { border-right-width: 0; border-left-width: 1px; }
